<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">


   <!-- Initialization for data source -->
   <bean id="dataSource"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://139.91.70.117:3306/hostingaccounts"/>
      <property name="username" value="pgaref"/>
      <property name="password" value="19899017"/>
   </bean>


 

   <!-- Definition for CustomerJDBCTemplate bean -->
   <bean id="CustomerJDBCTemplate" class="db.integration.CustomerJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />    
   </bean>
      
    <bean id="HistoryJDBCTemplate" class="db.integration.HistoryJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />    
   </bean>  
   
   <bean id="back-up"
	   	class="db.integration.PdfRevenueReportView">
	</bean>
 

</beans>